doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title buty
section#how.section-how
  .container
    span.sub-heading How it works
    h2.heading-secondary The working three steps
  .container.grid.grid--2-cols.grid--center-v
    // STEP-01
    .step-text-box
      p.step-number 01 
      h3.heading-tertiary  Tell us what  service you  would want to have:
      p.step-description
        | Never again waste time thinking about what service to have!
        | DockVille app makes available all the services at your convienience
    .step-img-box
      img.step-img(src='../img/app/services2.PNG' alt='')
    // STEP-02
    .step-img-box
      img.step-img(src='../img/app/app-screen-2.png' alt='')
    .step-text-box
      p.step-number 02 
      h3.heading-tertiary  Approve your weekly meal plan:
      p.step-description
        | Once per week, approve the meal plan generated for you by Omnifood AI. You can change ingredients, swap entire meals, or even add your own recipes.
    // STEP-03
    .step-text-box
      p.step-number 03 
      h3.heading-tertiary Receive meals at convenient time: 
      p.step-description
        | Best chefs in town will cook your selected meal every day, and we will deliver it to your door whenever works best for you. You can change delivery schedule and address daily!
    .step-img-box
      img.step-img(src='../img/app/app-screen-3.png' alt='iphone app delivery screen')
